body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:first-child {
  margin-right: auto; 
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}


.show-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.show-card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.show-card-content {
  padding: 20px;
}

.show-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000; 
}

.show-title a {
  text-decoration: none;
}

.show-title a:hover {
  text-decoration: none;
}

.show-summary {
  color: #555;
}

.show-details {
  margin-top: 10px;
}

.show-details a {
  color: #555; 
  text-decoration: none;
}

.show-details a:hover {
  text-decoration: underline;
}
